<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="comment">Text 1</label>
            <textarea class="form-control" rows="5" id="comment" ng-model="compareText.text1"></textarea>
        </div>
        <button class="btn btn-primary" ng-click="compareText.checkText()">Check</button>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="comment">Text 2</label>
            <textarea class="form-control" rows="5" id="comment2"></textarea>
        </div>
    </div>
</div>
<ui-view></ui-view>